body{
  margin: 33px;
  line-height: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
}


th{
  padding-bottom: 5px;
}


p{
  margin: 20px;
  line-height: 18px;
}

td{
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
}

label{
  display: block;
}